*{
    margin: 0;
    padding: 0;
}

.wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(
            231deg,
            rgba(22, 6, 40, 1) 0%,
            rgba(52, 28, 79, 1) 50%,
            rgba(88, 7, 125, 1) 100%
    ); */
    background-image: url(white.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.content-box{
    height: 400px;
    width: 400px;
    padding: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    gap: 12px;
    border: 2px solid white;
    border-radius: 20px;
    position: relative;
}

h1{
    position: absolute;
    top: 20px;
    left : 100px;
    color: aqua;
}
label {
    display: block;
    margin-bottom: 5px;
    color: white;
    font-weight: bold;
}

input[type="number"] {
    width: 80%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    transition: border-color 0.3s;

}

input[type="number"]:focus {
    outline: none;
    border-color: #03fc0b;
}
.weight{
    margin-left: 30px;
}
.height{
    margin-left: 30px;
}
.display{
    margin-left: 30px;
}

.display-bmi {
    width: 80%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    text-align: center;
}


.indicator-check{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#status{
    font-size: larger;
    color: yellow;
    font-weight: bolder;
}

#indi{
    font-size: larger;
    color: rgb(58, 239, 3);
    font-weight: bolder;
    margin-left: 20px;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f20049;
    width: 150px;
    height : 40px;
    padding: 0.8rem 2rem;
    margin-left: 32%;
    color: white;
    font-weight: bold;
    box-shadow: 2px 2px 3px 0px black;
    position: relative;
    z-index: 1;
}
button:hover{
    cursor: pointer;
}
button::before{
    content: "";
    position: absolute;
    background-color: black;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 1s ease;
    z-index: -1;
}
button:hover::before{
    transform: scaleX(1);
}






